<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/inc/header :: header"></head>
<body>
<div th:replace="/inc/navbar :: navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-3">
            <ul th:replace="/admin/inc/sidebar :: sidebar"></ul>
        </div>
        <div class="col-6">
            <div class="jumbotron">
                <h1>This is the admin panel!</h1>
                Navigate through the menu.
            </div>
        </div>
        <div class="col-3">

        </div>
    </div>
</div>
<div th:replace="/inc/footer :: footer"></div>
</body>
</html>