<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/inc/header :: header"></head>
<body>
<div th:replace="/inc/navbar :: navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-3">
            <ul th:replace="/admin/inc/sidebar :: sidebar"></ul>
            <form>
                <input type="radio" name="filter" value="with_prefix" />
                <label>Only roles with prefix ROLE_</label></br>
                <input type="radio" name="filter" value="without_prefix" />
                <label>Only roles without prefix ROLE_</label>
                <button type="submit" class="btn btn-primary">Filter</button>
            </form>
        </div>
        <div class="col-9">
            <h1>Roles</h1>
            <table th:replace="/inc/table/role :: list(${roles})"></table>
            <div>
                <p th:if="${hasPrefix}">Every role has a prefix ROLE_</p>
                <p th:unless="${hasPrefix}">Not every role has a prefix ROLE_</p>
                <p th:unless="${userRoleExists}">A default user role does not exist. <a th:href="@{/role/new}" class="btn btn-primary btn-sm mb-3">Add</a></p>
            </div>
        </div>
    </div>
</div>
<div th:replace="/inc/footer :: footer"></div>
</body>
</html>