<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/inc/header :: header"></head>
<body>
<div th:replace="/inc/navbar :: navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-3">
            <ul th:replace="/admin/inc/sidebar :: sidebar"></ul>
        </div>
        <div class="col-9">
            <h1>List Users</h1>

            <table th:if="${isFullNames}" id="users" class="table table-striped table-bordered">
                <thead class="table-dark">
                <tr>
                    <th>Full name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="fullName: ${fullNames}">
                    <td th:text="${fullName}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="/inc/footer :: footer"></div>
</body>
</html>