<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/inc/header :: header"></head>
<body>
<div th:replace="/inc/navbar :: navbar"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-6 container justify-content-center card">
      <h1 class="text-center">Edit Role</h1>
      <div class="card-body">
        <form th:action="@{/role/edit/{id} (id=${role.id})}" th:object="${role}" th:method="PUT">
          <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" th:field="*{name}" placeholder="Enter Name" class="form-control" />
            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div th:replace="/inc/footer :: footer"></div>
</body>
</html>