<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/inc/header :: header"></head>
<body>
<div th:replace="/inc/navbar :: navbar"></div>
<div class="container">
    <div class="row">
        <h1>Shops</h1>
    </div>
    <div class="row">
        <a th:href="@{/shop/new}" class="btn btn-primary btn-sm mb-3">Add Shop</a>
    </div>
    <div class="row">
        <table th:replace="/inc/table/shop :: list(${shops}, ${isActionable})"></table>
    </div>
</div>
<div th:replace="/inc/footer :: footer"></div>
</body>
</html>