<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/inc/header :: header"></head>
<body>
<div th:replace="/inc/navbar :: navbar"></div>
<div class="container" align="center">
    <div class="row">
        <div class="col-lg-3">
            <a class="btn btn-primary btn-sm mb-3" th:href="@{/service/new/{id} (id=${shop.id})}">Add Service</a>
            <a class="btn btn-primary btn-sm mb-3" th:href="@{/shop/edit/{id}(id=${shop.id})}">Update</a>
        </div>
    </div>
    <h1 th:text="${shop.name}"></h1>
    <p th:text="${shop.description}"></p>
    <img th:src="@{/img/shop/{image}.jpg(image=${shop.image})}">

    <div>
        <h2>Hours</h2>
        <p th:each="businessHour: ${businessHours}">
            <span>[[${businessHour.day}]]: [[${businessHour.openTime}]]—[[${businessHour.closeTime}]]</span>
        </p>
    </div>

    <h2>Services</h2>
    <table th:replace="/inc/table/appservice :: list(${shop.appservices}, ${isActionable})"></table>
    <br/>
    <h2>Appointments</h2>
    <table th:replace="/inc/table/appointment :: list(${appointments}, ${isShopOwner}, ${isAdmin})"></table>
</div>
<div th:replace="/inc/footer :: footer"></div>
</body>
</html>